@charset "utf-8";
:root{
	--brand:  #033B58;
	--body-bg-color:  #FFFFFF;
	--body-txt-color: #000000;
	--blue: #4680FF;
	--indigo: #6610f2;
	--purple: #6F42C1;
	--pink: #E83E8C;
	--red: #EF1818;
	--orange: #FD7E14;
	--yellow: #FFBA57;
	--green: #3CB371;
	--teal: #20C997;
	--cyan: #00ACC1;
	--white: #FFFFFF;
	--black: #000000;
	--gray: #6C757D;
	--gray-lighter: #E2E4E5;
	--success: #9CCC65;
	--info: #00ACC1;
	--warning: #FFBA57;
	--danger: #FF5252;
	--light: #F8F9FA;
	--dark: #343A40;
}
*{
	font-family: 'Open Sans', sans-serif;
	margin: 0rem;
	padding: 0rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	scroll-behavior: smooth;
}
*, 
::after,
::before{
	box-sizing: border-box;
}
img{
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}
a{
	color: inherit;
	background-color: transparent;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}
a:hover{
	color: inherit;
	text-decoration: underline;
}
b,
strong{
	font-size: inherit;
	font-weight: 600;
}
i{
	font-size: inherit;
	font-weight: inherit;
	font-style: italic;
}
small{
	font-size: smaller;
}
button,
input{
	overflow: visible;
}
button:focus:not([role="tab"], .slick-next, .slick-prev, .carousel-control-prev, .carousel-control-next),
*[role="button"]:focus:not(.slick-next, .slick-prev, .carousel-control-prev, .carousel-control-next){
	outline: none;
	box-shadow: 0 0 0 0.1875rem rgba(236, 66, 0, 40%), 0 0 0 0.09375rem rgba(236, 66, 0, 40%);
}
label{
	display: inline-block;
	margin-bottom: .2rem;
}
input[type=text],
input[type=number],
input[type=telephone],
input[type=email],
input[type=tel],
input[type=password],
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=url]{
	border-radius: 0.3125rem;
	width: 100%;
	padding: .225rem 0rem;
	color: var(--black) !important;
	border: 0.0625rem solid var(--gray-lighter);
}
input[type=search]{
	width: 100%;
	outline-offset: -0.125rem;
	-webkit-appearance: none;
}
select{
	border-radius: 0.3125rem;
	width: 100%;
	padding: .225rem 0rem;
	border: 0.0625rem solid var(--gray-lighter);
}
select option{
	color: var(--black) !important;
}
textarea{
	width: 100% !important;
	overflow: auto;
	resize: vertical;
	border-radius: 0.3125rem;
	padding: .225rem 0rem;
	color: var(--black) !important;
	border: 0.0625rem solid var(--gray-lighter);
}
input[type=checkbox],
input[type=radio]{
	box-sizing: border-box;
	padding: 0;
}
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time]{
	-moz-appearance: listbox;
	-webkit-appearance: listbox;
}
input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block{
	width: 100%;
}
input[type=range]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 0.625rem;
	border-radius: .25rem;
	background-color: var(--dark);
	outline: none;
	opacity: .7;
	transition: opacity .2s;
}
input[type=range]:focus{
	color: var(--gray);
	background-color: var(--black);
	outline: none;
	box-shadow: none;
	border-bottom: 0.0625rem solid var(--orange);
}
input[type=range]::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 1.5625rem;
	height: 1.5625rem;
	border-radius: 50%;
	background-color: var(--orange);
	cursor: pointer;
}
input[type=range]::-moz-range-thumb{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 1.5625rem;
	height: 1.5625rem;
	border-radius: 50%;
	background-color: var(--orange);
	cursor: pointer;
}
input:focus,
textarea:focus{
	color: var(--gray);
	background-color: var(--white);
	border-color: #80BDFF;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}
input::-moz-placeholder{
	color: var(--gray);
	opacity: 1;
}
input:-ms-input-placeholder{
	color: var(--gray);
	opacity: 1;
}
input::placeholder{
	color: var(--gray);
	opacity: 1;
}
input:disabled,
input[readonly],
button:disabled{
	background-color: #E9ECEF !important;
	opacity: 1;
}
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled){
	cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin-bottom:.5rem;
	font-family:inherit;
	line-height:1.2;
	color: var(--brand);
	font-weight: 700;
}
h1{
	font-size:2.5rem !important;
}
h2{
	font-size:2rem !important;
}
h3{
	font-size:1.75rem !important;
}
h4{
	font-size:1.5rem !important;
}
h5{
	font-size:1.25rem !important;
}
h6{
	font-size:1rem !important;
}
span{
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	background-color: inherit;
}
body{
	background-color: var(--body-bg-color);
	color: var(--body-txt-color);
	width: 100%;
	padding: 0rem;
	margin: 0rem;
	position: relative;
	line-height: 1.3;
}
body.noscroll{
	overflow: hidden;
}
header{
	height: 8.375rem;
	background-color: var(--white);
}
header .wrapper{
	position: fixed;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
	background-color: var(--white);
	height: 8.375rem;
	z-index: 9;
}
main{
	min-width: 30rem;
	min-height: calc(100vh - 19.0656rem - 9.75rem);
}
/*Menu*/
header div.language-wrapper{
	flex-basis: 100%;
	width: 100%;
	height: 2rem;
	padding: 0.25rem 3rem;
	color: var(--white);
	background-color: var(--brand);
}
header div.language-wrapper .row .col .info,
header div.language-wrapper .row .col .language{
	display: flex;
	list-style: none;
}
header div.language-wrapper .row .col .info{
	grid-column-gap: 1.5rem;
	column-gap: 1.5rem;
	font-size: .9rem;
	justify-content: flex-start;
}
header div.language-wrapper .row .col .info a{
	font-size: .9rem;
}
header div.language-wrapper .row .col .language{
	grid-column-gap: .9rem;
	column-gap: .9rem;
	justify-content: flex-end;
}
header nav.menu{
	display: flex;
	align-items: center;
	user-select: none;
}
header nav button.js--open-menu{
	display: none;
}
header nav.menu ul li{
	position: relative;
	display: inline-block;
	text-decoration: none;
	list-style: none;
	padding: .5rem 1rem;
	color: var(--brand);
	font-weight: 600;
	pointer-events: none;
	cursor: pointer;
}
header nav.menu ul li.active{
	background-color: var(--red);
	color: var(--white);
}
header nav.menu ul li.hover:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: .15rem solid var(--red);
	width: 100%;
	height: 100%;
}
header nav.menu ul li a{
	pointer-events: all;
	text-decoration: none;
}
/* Auxiliares de Alinhamentos */
.center,
.text-center{
	text-align: center !important;
}
.center_m{
	display: block !important;
	margin-right: auto !important;
	margin-left: auto !important;
}
.justify,
.text-justify{
	text-align: justify !important;
}
.left,
.text-left{
	text-align: left !important;
}
.right,
.text-right{
	text-align: right !important;
}
/* Fazer tabelas sem tag table */
.row{
	display: flex;
	flex-wrap: wrap;
}
.col,
.col-auto{
	position: relative;
	width: 100%;
	min-height: 0.0625rem;
}
.col{
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}
.col-auto{
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}
.col-40{
	flex-basis: 40%;
	max-width: 40%;
}
.col-100{
	flex-basis: 100% !important;
	max-width: 100% !important;
}
/* Classes para Overlays */
.overlayform{
	position: fixed;
	display: none;
	/* use display: flex; or display: block; (depends on the usage) to show the overlay */
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1060;
	overflow-y: scroll;
	overflow-y: overlay;
}
.overlayform::before{
	content: '\00D7';
	position: absolute;
	top: -1.25rem;
	right: 0.3125rem;
	margin: 0 0.9375rem;
	color: var(--red);
	font-size: 3.75rem;
	cursor: pointer;
}
.modalwrapper{
	margin: 0 auto;
	max-width: 100vw;
}
.modalform{
	background-color: var(--body-bg-color);
	color: var(--body-txt-color);
	margin: 3.125rem auto 0 auto;
	padding: 0.625rem;
	max-width: 90%;
}
.modalform .modaldados{
	margin: 1%;
	padding: 0.9375rem;
}
.form-check-label{
	margin-bottom: 0;
}
.form-group{
	margin-bottom: 1rem;
}
.form-group .btn-group,
.form-group .dropdown-menu{
	width: 100%;
}
[readonly="true"]{
	background-color: #E9ECEF;
	opacity: 1;
}
.text-muted{
	color: var(--gray) !important;
}
.italic{
	font-style: italic !important;
}
.bold,
.font-weight-bold{
	font-weight: 600 !important;
}
.bolder,
.font-weight-bolder{
	font-weight: 700 !important;
}
/* Fixação em input */
.input-group{
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	width: 100%;
}
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child){
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group > input:not(:last-child),
.input-group > textarea:not(:last-child),
.input-group > select:not(:last-child){
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child){
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.input-group > input:not(:first-child),
.input-group > textarea:not(:first-child),
.input-group > select:not(:first-child){
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.input-group-prepend,
.input-group-append{
	display: flex;
}
.input-group-append{
	margin-left: -0.0625rem;
}
.input-group-text{
	display: flex;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--gray);
	text-align: center;
	white-space: nowrap;
	background-color: #E9ECEF;
	border: 0.0625rem solid var(--gray-lighter);
	border-radius: .25rem;
}
.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"]{
	margin-top: 0;
}
/* Botões estilizados */
.button2{
	border-radius: 0.25rem;
	border: none;
	text-align: center;
	padding: .375rem .75rem;
	width: auto;
	margin: 0.3125rem auto;
	display: block;
	font-size: 1rem;
	line-height: 1.5;
	transition: all .5s ease;
	white-space: nowrap;
	display: table;
}
.button{
	border-radius: 0.25rem;
	border: none;
	text-align: center;
	font-size: 1.75rem;
	padding: 0.625rem;
	width: auto;
	float: none;
	margin: 0.3125rem auto;
	display: block;
	transition: all .5s ease;
	white-space: nowrap;
	display: table;
}
.button span,
.button2 span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all .5s ease;
}
.button span::after,
.button2 span::after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -1.25rem;
	transition: all .5s ease;
}
.button:hover span,
.button2:hover span,
.button:focus span,
.button2:focus span{
	padding-right: 1.5625rem;
}
.button:hover span::after,
.button2:hover span::after,
.button:focus span::after,
.button2:focus span::after{
	opacity: .8;
	right: 0;
}
.btn-blue{
	color: var(--white);
	background-color: var(--blue);
}
.btn-indigo{
	color: var(--white);
	background-color: var(--indigo);
}
.btn-purple{
	color: var(--white);
	background-color: var(--purple);
}
.btn-pink{
	color: var(--white);
	background-color: var(--pink);
}
.btn-red{
	color: var(--white);
	background-color: var(--red);
}
.btn-orange{
	color: var(--white);
	background-color: var(--orange);
}
.btn-yellow{
	color: var(--white);
	background-color: var(--yellow);
}
.btn-green{
	color: var(--white);
	background-color: var(--green);
}
.btn-teal{
	color: var(--white);
	background-color: var(--teal);
}
.btn-cyan{
	color: var(--white);
	background-color: var(--cyan);
}
.btn-white{
	color: var(---black);
	background-color: var(--white);
}
.btn-black{
	color: var(--white);
	background-color: var(--black);
}
.btn-gray{
	color: var(--white);
	background-color: var(--gray);
}
.btn-gray-lighter{
	color: var(--gray);
	background-color: var(--gray-lighter);
}
.btn-success{
	color: var(--white);
	background-color: var(--success);
}
.btn-info{
	color: var(--white);
	background-color: var(--info);
}
.btn-warning{
	color: var(--white);
	background-color: var(--warning);
}
.btn-danger{
	color: var(--white);
	background-color: var(--danger);
}
.btn-light{
	color: var(--gray);
	background-color: var(--light);
}
.btn-dark{
	color: var(--white);
	background-color: var(--dark);
}
/*Whatsapp*/
.whatsappButton{
	position: fixed;
	border-radius: 50%;
	background-color: #25D366;
	color: var(--white);
	text-align: center;
	padding: 0.625rem;
	width: 3.875rem;
	height: 3.875rem;
	bottom: 0;
	right: 0;
	margin: 0.625rem;
	z-index: 8;
	cursor: pointer;
}
.whatsappButton i{
	font-size: 2.5rem;
}
.whatsappButton .whatsapp-outer-message{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--white);
	color: #000000;
	padding: 0.625rem;
	margin: 0.625rem;
	border-radius: 0.3125rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.09375rem 0.5rem;
	-webkit-animation: nudge 3s linear infinite;
			animation: nudge 3s linear infinite;
	margin-bottom: 4.6875rem;
}
@-webkit-keyframes nudge{
	20%,
	100%{
		transform:translate(0,0);
	}
	0%{
		transform:translate(0, 0.3125rem);
		transform:rotate(2deg);
	}
	10%{
		transform:translate(0, -0.3125rem);
		transform:rotate(-2deg);
	}
}
@keyframes nudge{
	20%,
	100%{
		transform:translate(0,0);
	}
	0%{
		transform:translate(0, 0.3125rem);
		transform:rotate(2deg);
	}
	10%{
		transform:translate(0, -0.3125rem);
		transform:rotate(-2deg);
	}
}
.whatsappButton .whatsapp-outer-message p{
	white-space: nowrap;
	line-height: 1.3;
}
.whatsappButton .whatsapp-outer-message p.header{
	font-weight: bold;
}
.whatsappButton .whatsapp-conversation{
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ECE5DD;
	background-image:url('../_prototype/images/whatsapp-background.png');
	background-repeat: repeat;
	box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.3125rem 2.5rem;
	width: 15.625rem;
	height: 18.75rem;
	border-radius: 0.625rem;
	transition-duration: 0.5s;
	margin-bottom: 5rem;
	cursor: initial;
}
.whatsapp-conversation .header{
	position: relative;
	background-color: #128C7E;
	padding: 0.9375rem;
	font-weight: bold;
	border-radius: 0.375rem;
}
.whatsapp-conversation .header .photo{
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--white);
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;
	background-image: url('../_prototype/images/logo.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0.40625rem;
}
.whatsapp-conversation .header .name{

}
#whatsapp-input-message{
	height: 1.875rem;
	overflow: hidden;
	max-height: 8.75rem;
	border: 0;
}
textarea#whatsapp-input-message:focus-visible,
textarea#whatsapp-input-message:focus{
	outline: none;
	box-shadow: none;
}
.whatsapp-conversation .message-bubble{
	background-color: var(--white);
	color: #000000;
	position: relative;
	width: 90%;
	margin: 0.625rem;
	padding: 0.625rem;
	border-radius: 0.375rem;
}
.whatsapp-conversation .message-bubble::before{
	content: "";
	width: 0rem;
	height: 0rem;
	position: absolute;
	border-left: 0.625rem solid var(--white);
	border-right: 0.625rem solid transparent;
	border-top: 0.625rem solid var(--white);
	border-bottom: 0.625rem solid transparent;
	right: -0.75rem;
	top: 0rem;
}
.whatsapp-conversation .send-message{
	position: absolute;
	bottom: 0;
	padding: 0.625rem;
	border-radius: 0.375rem;
	margin: 0.625rem;
	right: 0;
	border: none;
	width: 92%;
	float: none;
	background-color: #075E54;
	color: var(--white);
	cursor: pointer;
}
.whatsapp-conversation .send-message i{
	font-size: 1rem;
	float: right;
	margin: 0.3125rem;
}
.whatsapp-conversation .send-message a{
	text-decoration: none;
}
/*Separator*/
div.section-separator{
	display: block;
	padding: 3rem 0;
}
div.section-separator-1{
	display: block;
	padding: 1rem 0;
}
div.section-separator-2{
	display: block;
	padding: 2rem 0;
}
div.text-separator{
	display: block;
	padding: .5rem 0;
}
/*Slicker*/
.slick-slider{
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
}
.slick-slide img{
	display: block;
	margin: 0 auto;
}
.slick-slider .slick-dots{
	position: absolute;
	bottom: 1.915rem;
	right: 0;
	left: 0;
	text-align: center;
}
.slick-dots li{
	display: inline-block;
}
.slick-dots li button,
.slick-slider button.slick-arrow{
	font-size: 0;
	line-height: 0;
	display: block;
	width: auto;
	height: auto;
	margin-right: .5rem;
	cursor: pointer;
	color: transparent;
	border: 0;
	text-decoration: none;
	background-color: transparent;
}
.slick-slider button.slick-next.slick-arrow,
.slick-slider button.slick-prev.slick-arrow{
	position: absolute;
	margin: auto 0;
	border: solid var(--gray);
	border-width: 0 0.3125rem 0.3125rem 0;
	padding: .5rem;
	top: 50%;
	z-index: 1;
}
.slick-slider button.slick-next.slick-arrow:hover,
.slick-slider button.slick-prev.slick-arrow:hover{
	border-color: var(--brand);
}
.slick-slider button.slick-next{
	transform: rotate(-45deg);
	right: 1rem;
}
.slick-slider button.slick-prev{
	transform: rotate(135deg);
	left: 1rem;
}
.slick-dots li button:before{
	content: '';
	border: 0.0625rem solid var(--gray-lighter);
	border: 0.0625rem solid rgba(0, 0, 0, 0.1);
	background-color: var(--gray-lighter);
	border-radius: 50%;
	padding: .7rem;
	opacity: .7;
}
.slick-dots li.slick-active button:before{
	padding: .79rem;
	background-color: var(--brand);
	opacity: 1;
}
/* Display types */
.d-none{
	display: none !important;
}
.d-inline{
	display: inline !important;
}
.d-inline-block{
	display: inline-block !important;
}
.d-block{
	display: block !important;
}
.d-table{
	display: table !important;
}
.d-table-row{
	display: table-row !important;
}
.d-table-cell{
	display: table-cell !important;
}
.d-flex{
	display: flex !important;
}
.d-inline-flex{
	display: inline-flex !important;
}
/* Media Screen specs for Display types */
@media (min-width: 768px){
	.d-md-none{
		display: none !important;
	}
	.d-md-inline{
		display: inline !important;
	}
	.d-md-inline-block{
		display: inline-block !important;
	}
	.d-md-block{
		display: block !important;
	}
	.d-md-table{
		display: table !important;
	}
	.d-md-table-row{
		display: table-row !important;
	}
	.d-md-table-cell{
		display: table-cell !important;
	}
	.d-md-flex{
		display: flex !important;
	}
	.d-md-inline-flex{
		display: inline-flex !important;
	}}
/* Orientation types */
.w-25{
	width: 25% !important;
}
.w-50{
	width: 50% !important;
}
.w-75{
	width: 75% !important;
}
.w-100{
	width: 100% !important;
}
.h-25{
	height: 25% !important;
}
.h-50{
	height: 50% !important;
}
.h-75{
	height: 75% !important;
}
.h-100{
	height: 100% !important;
}
.mw-100{
	max-width: 100% !important;
}
.mh-100{
	max-height: 100% !important;
}
/* Fast Paddings */
.p-0{
	padding: 0 !important;
}
.pt-0{
	padding-top: 0 !important;
}
.pr-0{
	padding-right: 0 !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pl-0{
	padding-left: 0 !important;
}
.p-1{
	padding: .25rem !important;
}
.pt-1{
	padding-top: .25rem !important;
}
.pr-1{
	padding-right: .25rem !important;
}
.pb-1{
	padding-bottom: .25rem !important;
}
.pl-1{
	padding-left: .25rem !important;
}
.p-2{
	padding: .5rem !important;
}
.pt-2{
	padding-top: .5rem !important;
}
.pr-2{
	padding-right: .5rem !important;
}
.pb-2{
	padding-bottom: .5rem !important;
}
.pl-2{
	padding-left: .5rem !important;
}
.p-3{
	padding: 1rem !important;
}
.pt-3{
	padding-top: 1rem !important;
}
.pr-3{
	padding-right: 1rem !important;
}
.pb-3{
	padding-bottom: 1rem !important;
}
.pl-3{
	padding-left: 1rem !important;
}
.p-4{
	padding: 1.5rem !important;
}
.pt-4{
	padding-top: 1.5rem !important;
}
.pr-4{
	padding-right: 1.5rem !important;
}
.pb-4{
	padding-bottom: 1.5rem !important;
}
.pl-4{
	padding-left: 1.5rem !important;
}
.p-5{
	padding: 3rem !important;
}
.pt-5{
	padding-top: 3rem !important;
}
.pr-5{
	padding-right: 3rem !important;
}
.pb-5{
	padding-bottom: 3rem !important;
}
.pl-5{
	padding-left: 3rem !important;
}
.m-auto{
	margin: auto;
}
.mt-auto{
	margin-top: auto;
}
.mr-auto{
	margin-right: auto;
}
.mb-auto{
	margin-bottom: auto;
}
.ml-auto{
	margin-left: auto;
}
/* Other */
.nowrap{
	white-space: nowrap;
}
/*Top video*/
main div.home-top_video{
	position: relative;
	display: flex;
	height: 90vh;
	background-color: #E6E6E6;
	overflow: hidden;
}
main div.home-top_video .video video#homeVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}
main div.home-top_video .info{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	padding: 1rem 5rem 2rem 2rem;
	background: rgba(255, 255, 255, 0.8);
}
main div.home-top_video .info p{
	font-weight: 600;
}
main div.home-top_video .info button{
	width: 16rem;
	height: 3rem;
	background-color: var(--brand);
	color: var(--white);
	border: none;
	cursor: pointer;
}
main div.home-top_video .info button:after{
	content: '';
	opacity: 0;
	margin-left: -1rem;
	transition: all .6s ease;
}
main div.home-top_video .info button:hover:after{
	content: '\27A4';
	margin-left: .75rem;
	opacity: 1;
	left: 0;
}
/*About us*/
main div.home-mid-aboutus{
	padding: 2rem 0;
	background-color: var(--gray-lighter);
}
main div.home-mid-aboutus .row{
	background-color: var(--gray-lighter);
}
main div.home-mid-aboutus .row .col:first-child .text{
	padding: 0rem 3rem;
}
main div.home-mid-aboutus .row .col:first-child .text p{
	font-size: 0.92rem;
}
/*Sections*/
main > div.section > .text-wrapper{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main > div.section > .text-wrapper > .seemore{
	padding-right: 1rem;
	color: var(--brand);
	text-transform: uppercase;
}
main > div.section > .text-wrapper .text{
	padding: 0 .5rem 1rem 0;
	border-bottom: .025rem solid var(--brand);
}
main > div.section > .text-wrapper .text > *{
	margin-left: 2rem;
}
main > div.section > .text-wrapper .text p{
	font-size: 1.3rem;
	font-weight: 300;
}
main > div.section > .text-wrapper .text p a:hover{
	text-decoration: none;
	color: var(--brand);
	font-weight: 500;
}
main > div.section > .selection{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	grid-row-gap: 4rem;
	row-gap: 4rem;
}
main > div.section > .selection > div{
	flex: 1 1 25%;
}
main > div.section > .selection > div i.fas{
	font-size: 3.5rem;
	padding: 2rem 3.5rem;
	color: #FFF;
	background-color: var(--brand);
	border-radius: 0.75rem;
}
main > div.section > .selection > div p{
	font-weight: 600;
	color: var(--brand);
	padding-top: .85rem;
}
/*Últimas Máquinas*/
main > div.section.home-mid-machines > .slick-slider img {
	height: 33.313rem;
	width: auto;
}
main > div.section.home-mid-machines > .slick-slider div.name,
main > div.section.home-mid-machines > .slick-slider div.name > a{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	margin: 0 auto;
	font-size: 1.25rem;
	color: var(--brand);
}
main > div.section.home-mid-machines > .slick-slider div.desc{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	margin: 0 auto;
}
main > div.section.home-mid-machines > .slick-slider .slick-dots{
	bottom: 7.025rem;
}
/*Moldes*/
main > div.home-mid-moldes{

}
main > div.home-mid-moldes div.row{
	max-width: 75vw;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
main > div.home-mid-moldes div.row > div.col{
	padding: 0 3rem;
}
main > div.home-mid-moldes div.row > div.col > p{
	font-size: .9rem;
	margin-bottom: 1rem;
}
/*Contact us*/
main > div.contactus .contact-options > div > h3{
	color: inherit;
	border-bottom: 0.175rem solid var(--red);
	margin-bottom: 1.5rem;
}
main > div.contactus > form{
	padding: 0rem 6rem;
}
main > div.contactus > form > div.form-group.row{
	grid-column-gap: 1rem;
	column-gap: 1rem;
}
main > div.section > form > div.fornecedores{
	max-width: 50%;
}
/*Footer*/
footer{
	background-color: var(--brand);
	color: var(--white) !important;
	padding: 3rem 3rem 0 3rem;
	min-width: 30rem;
}
footer .footer-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	grid-column-gap: 3rem;
	column-gap: 3rem;
	justify-content: space-between;
}
footer .footer-wrapper > div{
	flex: 1 1 0rem;
}
footer .footer-wrapper > div h4{
	color: inherit;
	border-bottom: .175rem solid var(--red);
	margin-bottom: 1.5rem;
}
footer .footer-wrapper > div > ul > li{
	padding: .5rem 0;
	list-style: none;
}
footer .footer-wrapper > div > ul > li,
footer .footer-wrapper > div > p{
	list-style: none;
	font-size: .85rem;
	padding: .2rem 0;
}
footer .footer-wrapper > div > ul > li > i{
	font-size: 1.2rem;
	margin-right: .45rem;
}
footer .footer-wrapper > div.social > .social-icons-wrapper{
	display: flex;
	grid-column-gap: 1.9rem;
	column-gap: 1.9rem;
}
footer .footer-wrapper > div.social > .social-icons-wrapper > a{
	opacity: .8;
	font-size: 1.7rem;
	text-decoration: none;
}
footer .footer-wrapper > div.social > .social-icons-wrapper > a:hover{
	opacity: 1;
}
@media screen and (max-width: 831px) and (orientation : portrait){
	/*Default*/
	body{
		overflow-x: hidden;
	}
	.col{
		flex-basis: auto;
	}
	main,
	footer{
		min-width: initial;
		max-width: 100%;
	}
	/*Header/menu*/
	header{
		position: fixed;
		background-color: var(--white);
	}
	header div.language-wrapper .row .col:first-child{
		display: none;
	}
	header div.language-wrapper .row .col .language{
		justify-content: center;
	}
	header nav button.js--open-menu{
		display: block;
	}
	header nav.menu ul:not(.change){
		display: none;
	}
	header nav.menu ul.change{
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 70%;
		height: 100%;
		background-color: var(--white);
		overflow-y: scroll;
		overflow-y: overlay;
		z-index: 9;
	}
	header nav.menu ul li{
		display: block;
	}
	header nav.menu button.js--open-menu{
		display: block;
		border: none;
		padding: .5rem .4rem;
		margin: .4rem .1rem;
		background-color: transparent;
		z-index: 10;
	}
	header nav.menu button.js--open-menu:focus{
		box-shadow: none;
	}
	header nav.menu .js--open-menu span{
		display: block;
		height: 0.188rem;
		width: 2.188rem;
		margin-bottom: 0.4375rem;
		border-radius: 0.1875rem;
		background-color: var(--brand);
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
	}
	header nav.menu .js--open-menu.change span:nth-child(1){
		transform: rotate(-45deg) translate(-0.438rem, 0.375rem);
		-webkit-transform: rotate(-45deg) translate(-0.438rem, 0.375rem);
		-moz-transform: rotate(-45deg) translate(-0.438rem, 0.375rem);
		-ms-transform: rotate(-45deg) translate(-0.438rem, 0.375rem);
		background-color: var(--brand) !important;
	}
	header nav.menu .js--open-menu.change span:nth-child(2){
		opacity: 0;
	}
	header nav.menu .js--open-menu.change span:nth-child(3){
		transform: rotate(45deg) translate(-0.5rem, -0.5rem);
		-webkit-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
		-moz-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
		-ms-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
		background-color: var(--brand) !important;
	}
	/*Top video*/
	main div.home-top_video{
		height: auto;
		flex-direction: column;
	}
	main div.home-top_video .video video#homeVideo{
		position: relative;
		min-width: auto;
		min-height: auto;
		max-width: 100%;
	}
	main div.home-top_video .info{
		position: relative;
		padding: 1rem;
		background-color: #E6E6E6;
	}
	main div.home-top_video .info button{
		margin-top: .5rem;
		width: 100%;
	}
	/*Sections*/
	main > div.section > .text-wrapper .text{
		padding: 0 0 1rem 0;
	}
	/*Aboutus*/
	main div.home-mid-aboutus .row .col{
		flex-basis: auto;
	}
	main > div.section > .text-wrapper .text > *{
		margin: 0 1rem;
	}
	main > div.section > .text-wrapper .text p{
		font-size: 1.2rem;
	}
	/*Últimas Máquinas*/
	main > div.section.home-mid-machines > .slick-slider img {
		height: 16.438rem;
		width: auto;
	}
	main > div.section.home-mid-machines > .slick-slider div.name,
	main > div.section.home-mid-machines > .slick-slider div.name > a{
		-webkit-line-clamp: 2;
	}
	/*Moldes*/
	main > div.home-mid-moldes div.row{
		max-width: 100%;
	}
	main > div.home-mid-moldes div.row > div.col > p{
		font-size: initial;
	}
	/*Contact us*/
	main > div.contactus > form{
		padding: 0 2rem;
	}
	main > div.contactus > form > div.form-group.row > .col:not(:last-child){
		margin-bottom: 1rem;
	}
	main > div.section > form > div.fornecedores{
		max-width: 100%;
	}
	/*Footer*/
	footer{
		padding: 3rem 2rem;
	}
	footer .footer-wrapper{
		flex-wrap: wrap;
	}
	footer .footer-wrapper > div{
		flex: 1 1 100%;
	}
	footer .footer-wrapper > div:not(:first-child) {
		margin-top: 1.5rem;
	}
}