@charset "utf-8";

:root{
	--brand:  #033B58;
	--menu-bg-color: var(--light);
	--menu-text-color: #000000;
	--body-txt-color: var(--light);
	--body-bg-color: #313131;
	--focus-color: #FFDE59;
	--focus-color-lower: #FDD392;
	--blue: #4680FF;
	--indigo: #6610f2;
	--purple: #6F42C1;
	--pink: #E83E8C;
	--red: #FF5252;
	--orange: #FD7E14;
	--yellow: #FFBA57;
	--green: #3CB371;
	--teal: #20C997;
	--cyan: #00ACC1;
	--white: #FFFFFF;
	--black: #000000;
	--gray: #6C757D;
	--gray-dark: #343A40;
	--primary: #4680FF;
	--secondary: #6C757D;
	--success: #9CCC65;
	--info: #00ACC1;
	--warning: #FFBA57;
	--danger: #FF5252;
	--light: #F8F9FA;
	--dark: #343A40;

	--menu-size: 13.625rem;
	--menu-size-collapsed: 4rem;
}
*{
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	margin: 0rem;
	padding: 0rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	box-sizing: border-box;
}
body{
	background-color: var(--body-bg-color);
	color: var(--body-txt-color);
	min-height: 100vh;
	width: 100%;
	padding: 0rem;
	margin: 0rem;
	position: relative;
	line-height: 1.3;
}
main{
	min-height: 100vh;
	margin-left: var(--menu-size);
}
body.collapsed-menu main{
	margin-left: var(--menu-size-collapsed);
}
a{
	color: inherit;
	font-weight: inherit;
	text-decoration: none;
	background-color: transparent;
	text-decoration-skip: objects;
	-webkit-text-decoration-skip: objects;
}
a:hover{
	color: inherit;
	text-decoration: underline;
}
b,
strong{
	font-size: inherit;
	font-weight: bold;
}
small{
	font-size: smaller;
}
hr{
	border: 0;
	border-top: 1px solid #EEEEEE;
}
button:focus,
*[role="button"]:focus:not(.carousel-control-prev, .carousel-control-next){
	outline: none;
	box-shadow: 0 0 0 0.188rem rgba(236, 66, 0, 0.4), 0 0 0 0.09375rem rgba(236, 66, 0, 0.4);
}
label{
	display: inline-block;
	font-size: .9em;
	font-weight: 700;
	margin-bottom: .2rem;
}
input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=password],
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=url]{
	border-radius: 0.313rem;
	width: 100%;
	padding: .225rem 0rem;
	color: var(--black) !important;
	border: 1px solid #BDC5CC;
}
select{
	border-radius: 0.313rem;
	width: 100%;
	padding: .225rem 0rem;
	border: 1px solid #BDC5CC;
}
select option{
	color: var(--black) !important;
}
textarea{
	width: 100% !important;
	overflow: auto;
	resize: vertical;
	border-radius: 0.313rem;
	padding: .225rem 0rem;
	color: var(--black);
	border: 1px solid #BDC5CC;
}
input[type=checkbox],
input[type=radio]{
	box-sizing: border-box;
	padding: 0;
}
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time]{
	-moz-appearance: listbox;
	-webkit-appearance: listbox;
}
input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block{
	width: 100%;
}
input[type=range]{
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 0.625rem;
	border-radius: 0.25rem;
	background-color: var(--dark);
	outline: none;
	opacity: 0.7;
	transition: opacity .2s;
	-webkit-transition: .2s;
}
input[type=range]:focus{
	color: var(--dark);
	background-color: var(--dark);
	outline: none;
	box-shadow: none;
	border-bottom: 0.063rem solid var(--brand);
}
input[type=range]::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 1.563rem;
	height: 1.563rem;
	border-radius: 50%;
	background-color: var(--brand);
	cursor: pointer;
}
input[type=range]::-moz-range-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 1.563rem;
	height: 1.563rem;
	border-radius: 50%;
	background-color: var(--brand);
	cursor: pointer;
}
input:focus,
textarea:focus{
	color: #495057;
	background-color: var(--light);
	border-color: #80BDFF;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
input::-webkit-input-placeholder{
	color: #6C757D;
	opacity: 1;
}
input::-moz-placeholder{
	color: #6C757D;
	opacity: 1;
}
input:-ms-input-placeholder{
	color: #6C757D;
	opacity: 1;
}
input::-ms-input-placeholder{
	color: #6C757D;
	opacity: 1;
}
input::placeholder{
	color: #6C757D;
	opacity: 1;
}
input:disabled,
input[readonly],
button[disabled]{
	opacity: .7;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}
h1{
	font-size: 2.5rem !important;
}
h2{
	font-size: 2rem !important;
}
h3{
	font-size: 1.75rem !important;
}
h4{
	font-size: 1.5rem !important;
}
h5{
	font-size: 1.25rem !important;
}
h6{
	font-size: 1rem !important;
}
span{
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	background-color: inherit;
}
fieldset{
	padding: 0.5rem;
}
.container{
	width: 100%;
	padding-right: 0.938rem;
	padding-left: 0.938rem;
	margin-right: auto;
	margin-left: auto;
}

/* Auxiliares de Alinhamentos */
.center,
.text-center{
	text-align: center !important;
}
.center_m{
	display: block !important;
	margin-right: auto !important;
	margin-left: auto !important;
}
.justify,
.text-justify{
	text-align: justify !important;
}
.left,
.text-left{
	text-align: left !important;
}
.right,
.text-right{
	text-align: right !important;
}

/* Fazer tabelas sem tag table */
.row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -0.938rem;
	margin-left: -0.938rem;
}
.col,
.col-auto{
	position: relative;
	width: 100%;
	min-height: 0.063rem;
	padding-right: 0.938rem;
	padding-left: 0.938rem;
}
.col{
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.col-auto{
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}
.col-100{
	flex-basis: 100% !important;
	max-width: 100% !important;
}
.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}

/* Classes para Overlays */
.overlayform{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	overflow-y: overlay;
}
.modalform{
	color: var(--black);
	background-color: var(--light);
	max-width: 90vw;
	height: auto;
	padding: 0.625rem;
	margin: 0 auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
	position: relative;
	box-sizing: border-box;
}
.modalform .modaldados{
	margin: 1%;
	padding: 0.938rem;
}
.buttonsContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 1rem;
	column-gap: 1rem;
}
.buttonsContainer i{
	line-height: 1.6rem;
	cursor: pointer;
}
.closebtn i{
	font-size: 1.225rem;
	color: var(--danger);
}
.modaldados .closebtn{
	font-size: 2.625rem;
	font-weight: bold;
	line-height: 1.7rem;
	color: var(--danger);
	margin: 0.6rem;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.editbtn i{
	font-size: 1.425rem;
	color: var(--green);
}
button.closebtn,
button.editbtn{
	background-color: rgba(255, 255, 255, 0);
	border: none;
	display: block;
}
.form-check-label{
	margin-bottom: 0;
}
.form-group{
	margin-bottom: 1rem;
}

[readonly="true"]{
	background-color: #E9ECEF;
	opacity: 1;
}
.text-muted{
	color: #6C757D !important;
	font-style: italic;
}

/* Classes usadas pelo summernote para legendas na foto */
.img-captioncontent:before,
blockquote:before{
	content: "\2014 \00A0";
}
.img-captioncontent{
	display: table-caption;
	caption-side: bottom;
	margin-bottom: 1rem;
	color: #555555;
	font-size: 0.85rem;
	line-height: 1rem;
}

/* Botões estilizados */
.button2{
	border-radius: 0.25rem;
	border: none;
	text-align: center;
	font-size: 0.938rem;
	padding: .375rem .75rem;
	width: auto;
	margin: 0.313rem auto;
	display: block;
	font-size: 1rem;
	line-height: 1.5;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	white-space: nowrap;
	display: table;
}
.button{
	border-radius: 0.25rem;
	border: none;
	text-align: center;
	font-size: 1.75rem;
	padding: 0.625rem;
	width: auto;
	float: none;
	margin: 0.313rem auto;
	display: block;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	white-space: nowrap;
	display: table;
}
.button span,
.button2 span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.button span::after,
.button2 span::after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -1.25rem;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.button:hover span,
.button2:hover span,
.button:focus span,
.button2:focus span{
	padding-right: 1.563rem;
}
.button:hover span::after,
.button2:hover span::after,
.button:focus span::after,
.button2:focus span::after{
	opacity: 0.8;
	right: 0;
}
.btn-danger{
	background-color: var(--danger);
	color: var(--light);
}
.btn-success{
	background-color: var(--green);
	color: var(--light);
}
.btn-warning{
	background-color: var(--warning);
	color: var(--light);
}
/* Auxiliares de centralização */
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.center_m{
	display: block;
	margin: 0 auto;
}
/* Display types */
.d-none{
	display: none !important;
}
.d-inline{
	display: inline !important;
}
.d-inline-block{
	display: inline-block !important;
}
.d-block{
	display: block !important;
}
.d-table{
	display: table !important;
}
.d-table-row{
	display: table-row !important;
}
.d-table-cell{
	display: table-cell !important;
}
.d-flex{
	display: flex !important;
}
.d-inline-flex{
	display: inline-flex !important;
}

/* Media Screen specs for Display types */
@media (min-width: 768px){
	.d-md-none{
		display: none !important;
	}
	.d-md-inline{
		display: inline !important;
	}
	.d-md-inline-block{
		display: inline-block !important;
	}
	.d-md-block{
		display: block !important;
	}
	.d-md-table{
		display: table !important;
	}
	.d-md-table-row{
		display: table-row !important;
	}
	.d-md-table-cell{
		display: table-cell !important;
	}
	.d-md-flex{
		display: flex !important;
	}
	.d-md-inline-flex{
		display: inline-flex !important;
	}
}

/* Orientation types */
.w-25{
	width: 25% !important;
}
.w-50{
	width: 50% !important;
}
.w-75{
	width: 75% !important;
}
.w-100{
	width: 100% !important;
}
.h-25{
	height: 25% !important;
}
.h-50{
	height: 50% !important;
}
.h-75{
	height: 75% !important;
}
.h-100{
	height: 100% !important;
}
.mw-100{
	max-width: 100% !important;
}
.mh-100{
	max-height: 100% !important;
}

/* Fast Paddings */
.p-0{
	padding: 0 !important;
}
.pt-0{
	padding-top: 0 !important;
}
.pr-0{
	padding-right: 0 !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pl-0{
	padding-left: 0 !important;
}
.p-1{
	padding: .25rem !important;
}
.pt-1{
	padding-top: .25rem !important;
}
.pr-1{
	padding-right: .25rem !important;
}
.pb-1{
	padding-bottom: .25rem !important;
}
.pl-1{
	padding-left: .25rem !important;
}
.p-2{
	padding: .5rem !important;
}
.pt-2{
	padding-top: .5rem !important;
}
.pr-2{
	padding-right: .5rem !important;
}
.pb-2{
	padding-bottom: .5rem !important;
}
.pl-2{
	padding-left: .5rem !important;
}
.p-3{
	padding: 1rem !important;
}
.pt-3{
	padding-top: 1rem !important;
}
.pr-3{
	padding-right: 1rem !important;
}
.pb-3{
	padding-bottom: 1rem !important;
}
.pl-3{
	padding-left: 1rem !important;
}
.p-4{
	padding: 1.5rem !important;
}
.pt-4{
	padding-top: 1.5rem !important;
}
.pr-4{
	padding-right: 1.5rem !important;
}
.pb-4{
	padding-bottom: 1.5rem !important;
}
.pl-4{
	padding-left: 1.5rem !important;
}
.p-5{
	padding: 3rem !important;
}
.pt-5{
	padding-top: 3rem !important;
}
.pr-5{
	padding-right: 3rem !important;
}
.pb-5{
	padding-bottom: 3rem !important;
}
.pl-5{
	padding-left: 3rem !important;
}
.m-auto{
	margin: auto;
}
.mt-auto{
	margin-top: auto;
}
.mr-auto{
	margin-right: auto;
}
.mb-auto{
	margin-bottom: auto;
}
.ml-auto{
	margin-left: auto;
}

/* Mensagens de erro ou sucesso */
.popup{
	width: 80%;
	height: auto;
	border-radius: 0.5rem 0.5rem;
	color: #FFF;
	text-align: center;
}
.pill-notification{
	position: fixed;
	bottom: 0;
	right: 0;
	width: fit-content;
	padding: .5rem 1rem;
	margin: .6rem;
	z-index: 9;
	transition: all 1s ease;
}

#closeEmailNotification{
	position: absolute;
	right: 0;
	font-size: 1.188rem;
	margin: auto 0.625rem;
	cursor: pointer;
	user-select: none;
}
.popup-green{
	background-color: #2FA64A !important;
}
.popup-green-darker{
	background-color: #2FA64A !important;
}
.popup-red{
	background-color: #FE0000 !important;
}

/* Menu */
header{
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: var(--menu-bg-color);
	color: var(--menu-text-color);
	transition: all 1s ease-in-out;
	z-index: 9;
}
header > nav#menubar{

}
header .js--open-menu{
	display: none;
}
header > nav#menubar > ul#navigation{

}
header > nav#menubar > ul#navigation li{
	list-style: none;
}
header > nav#menubar > ul#navigation li > ul.personal-card{
	text-align: center;
}
header > nav#menubar > ul#navigation li > ul.personal-card ul{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 1rem;
	column-gap: 1rem;
}
header > nav#menubar > ul#navigation li > ul.personal-card ul > li.collapse-menu{
	color: var(--primary);
}
header > nav#menubar > ul#navigation li > ul.personal-card ul > li.signout{
	color: var(--red);
}
header > nav#menubar > ul#navigation > li{
	color: var(--dark);
	padding: .5rem 1rem;
}
header > nav#menubar > ul#navigation > li > a{
	display: flex;
	align-items: center;
	grid-column-gap: .5rem;
}
header > nav#menubar > ul#navigation > li > a:hover{
	color: var(--brand);
	text-decoration: none;
}
header > nav#menubar > ul#navigation > li > a > :nth-child(1){
	min-width: 1.5rem;
}
header > nav#menubar > ul#navigation li.currentPage{
	color: var(--brand);
}
/* Collapsed Menu */
body.collapsed-menu header > nav#menubar{
	text-align: center;
}
body.collapsed-menu header > nav#menubar > ul#navigation li .menu-logo,
body:not(.collapsed-menu) header > nav#menubar > ul#navigation li .menu-logo-collapsed,
body.collapsed-menu header > nav#menubar > ul#navigation li > ul.personal-card > li:first-child,
body.collapsed-menu header > nav#menubar > ul#navigation > li > a > span{
	display: none;
}
body.collapsed-menu header > nav#menubar > ul#navigation li > ul.personal-card{
	position: absolute;
	right: 0;
	bottom: 1rem;
	left: 0;
}
body.collapsed-menu header > nav#menubar > ul#navigation li > ul.personal-card ul{
	flex-direction: column;
}
body.collapsed-menu header > nav#menubar > ul#navigation li > ul.personal-card ul > li > a > i{
	font-size: 1.3rem;
	padding: .5rem 0;
}
body.collapsed-menu header > nav#menubar > ul#navigation > li > a{
	display: block;
}

/* New */
.icon-only > span{
	font-size: 0rem;
}
.highlight{
	color: var(--brand);
}
.box-msg{
	font-style: italic;
	padding-top: .5rem	;
}
.box-msg.error{
	color: var(--danger);
}
.box-msg.success{
	color: var(--green);
}
.show{
	bottom: 0;
	opacity: 1;
}
.intro-text{
	display: block;
	margin: 0 auto;
	padding-top: 45%;
	font-style: italic;
}
.intro-text p{
	font-size: 1.875rem;
	text-align: center;
}
.card-box{
	position: relative;
	color: var(--black);
	background-color: var(--light);
	margin: 2.5rem 6.7rem;
	padding: 0.938rem 1.563rem;
	border: 0rem solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.625rem -0.063rem rgba(69, 90, 100, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}
.card-box > .card-box{
	margin: 1rem;
}
.card-box:hover{
	box-shadow: 0 0.313rem 0.688rem 0rem rgba(69, 90, 100, 0.3);
}
.card_button-add{
	float: right;
	background-color: var(--green);
	color: var(--light) !important;
}
.orderby{
	position: absolute;
	margin-top: -1.25rem;
}
.card-box-results{
	justify-content: center;
	margin: 0rem 6.1rem;
	position: relative;
}
.card-result-top{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.card-result-body{
	position: relative;
	color: var(--black);
	background-color: var(--light);
	height: auto;
	min-width: 15.625rem;
	margin: 0.625rem;
	padding: 0.625rem;
	overflow: hidden;
	border-radius: 0.2rem;
	flex-grow: 0;
}
.card-result-content-bg{
	height: 10.5rem;
	object-fit: contain !important;
	background-size: 100% auto !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
.card-result-title{
	font-weight: 900;
	line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card-result-content{
	margin-top: 1.25rem;
}
.partners-logo{
	display: block;
	width: 100%;
}
.users .card-result-content,
.cfg .card-result-content{
	margin-top: 0.938rem;
}
.users .fa-exclamation-triangle,
.cfg .fa-exclamation-triangle{
	color: var(--warning);
	display: inline;
}
.users .fa-exclamation-triangle::after,
.cfg .fa-exclamation-triangle::after{
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 0.90rem;
	content: 'Atenção! Informação não encontrada, adicione-a o quanto antes';
}
.users .overlayform .form-group .confirmPassword2{
	display: none;
}
.switch{
	position: relative;
	height: 2.125rem;
	width: 3.75rem;
}
.switch input{
	opacity: 0;
	width: 0;
	height: 0;
}
.slider{
	position: absolute;
	cursor: pointer;
	border-radius: 2.125rem;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #B9B9B9;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before{
	content: '';
	position: absolute;
	left: 0.25rem;
	bottom: 0.25rem;
	height: 1.625rem;
	width: 1.625rem;
	background: var(--light);
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked+.slider:before{
	-ms-transform: translateX(1.625rem);
	-moz-transform: translateX(1.625rem);
	-webkit-transform: translateX(1.625rem);
	transform: translateX(1.625rem);
}
input:checked+.slider{
	background: var(--focus-color);
}
.extra .switch{
	float: right;
}
.extra details > summary{
	cursor: pointer;
	user-select: none;
}
.cfg-help_text{
	margin: 1.25rem 0;
}
.opt_optimize{
	position: relative;
}
.fa.info:before{
	position: absolute;
	top: 0;
	content: "\f05a";
	font-size: 0.8125rem;
	color: var(--warning);
}
.fa.info span{
	display: none;
	position: absolute;
	right: 0;
	left: 0;
	min-width: 31.25rem;
	padding: 0.625rem;
	border-radius: 0.375rem;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 40%) 0 0.09375rem 0.5rem;
	border: 0.063rem solid rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.fa.info:hover span{
	display: block;
}
.fa.info span p:not(:last-child){
	padding-bottom: 0.625rem;
}
footer{
	margin: 3.75rem 0rem 0rem var(--menu-size);
	text-align: center;
	position: relative;
	height: auto;
}

@media screen and (max-width: 831px){
	input[type=text],
	input[type=number],
	input[type=email],
	input[type=tel],
	input[type=password],
	input[type=date],
	input[type=datetime-local],
	input[type=month],
	input[type=time],
	input[type=url]{
		height: 06vh !important;
	}
	textarea{
		height: 10vh !important;
	}
	main{
		margin: 0rem;
		padding: 1.875rem 0.813rem
	}
	/*Menu*/
	header:not(.change){
		transform: translateX(-100%);
	}
	header .js--open-menu{
		position: absolute;
		right: -2.938rem;

		background-color: var(--light);
		border-radius: 0 0.375rem 0.375rem 0;


		display: block;
		border: none;
		padding: .5rem .4rem;
		margin: .4rem .1rem;
		z-index: 10;
	}
	header .js--open-menu:focus{
		box-shadow: none;
	}
	header .js--open-menu span{
		display: block;
		height: 0.188rem;
		width: 2.188rem;
		border-radius: 0.1875rem;
		background-color: var(--brand);
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
	}
	header .js--open-menu span:not(:nth-child(3)){
		margin-bottom: 0.4375rem;
	}
	header .js--open-menu.change span:nth-child(1){
		transform: rotate(-45deg) translate(-0.438rem, 0.375rem);
		-webkit-transform: rotate(-45deg) translate(-0.438rem, 0.375rem);
		-moz-transform: rotate(-45deg) translate(-0.438rem, 0.375rem);
		-ms-transform: rotate(-45deg) translate(-0.438rem, 0.375rem);
		background-color: var(--brand) !important;
	}
	header .js--open-menu.change span:nth-child(2){
		opacity: 0;
	}
	header .js--open-menu.change span:nth-child(3){
		transform: rotate(45deg) translate(-0.5rem, -0.5rem);
		-webkit-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
		-moz-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
		-ms-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
		background-color: var(--brand) !important;
	}
	/*Login*/
	.loginBox{
		width: auto;
		margin: 0.625rem;
		padding: 5rem 1.25rem 1.25rem 1.25rem;
	}
	.login-logo{
		width: 25rem;
	}
	/*Sorting box and Results*/
	.card-box{
		margin: 1.875rem 0rem;
	}
	.card-box > .card-box{
		padding: .5rem;
		margin: 1rem .5rem;
	}
	.card-box-results{
		margin: 0rem;
	}
	.card-result-content{
		line-break: anywhere;
	}
	.users .overlayform .form-group .col,
	.cfg .overlayform .form-group .col{
		flex-basis: 100%;
	}
	.users .overlayform .form-group .col input,
	.cfg .overlayform .form-group .col input{
		margin-bottom: 1rem;
	}
	.users .overlayform .form-group .confirmPassword{
	   display: none;
	}
	.users .overlayform .form-group .confirmPassword2{
		display: block;
	}
	.extra .switch{
		margin: 0.938rem 0;
	}
	footer{
		margin: 3.75rem 0rem 0rem 0rem;
	}
}

@media print{

	*,
	*::before,
	*::after{
		text-shadow: none !important;
		box-shadow: none !important;
	}
	a:not(.btn){
		text-decoration: underline;
	}
	abbr[title]::after{
		content: " ("attr(title) ")";
	}
	img{
		page-break-inside: avoid;
	}

	/*New */
}