#Define a página inicial
DirectoryIndex index.php index.html
ErrorDocument 404 /404.php

Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)/$ /$1 [L,R]

#Permite o uso das páginas sem a extensão
RewriteRule ^([^\.]+)$ $1.php [NC,L]